<table border="3">
    <tr>
        <td>id</td>
        <td>picture</td>
        <td>username</td>
        <td>email</td>
        <td>nb_books</td>
        <td>Action</td> 
    </tr>
    {% set totalBooks = 0 %}
    {% for i in author  %}
   
    <tr>
        <td>{{i.id}}</td>
        <td><img src="{{asset(i.picture)}}" style="height:100 ; width:100 ;"></td>
        <td>{{i.username|upper}}</td>
        <td>{{i.email}}</td>
        <td>{{i.nb_books}}</td>
        <td><a href="{{ path('showbyId',{'id':i.id}) }}">Détails</a></td>
    </tr>
    {% set totalBooks = totalBooks + i.nb_books %}
    {% endfor %}
    {% if author is empty %}
    table is vide
{% endif %}


    <p>Nombre total d'auteurs : {{ author|length }}</p> 
    <p>Nombre total de livres de tous les auteurs : {{ totalBooks }}</p> 




</table>